.mainPage{
    margin: 50px 25%;
    background-color: white;
}

.font{
    text-align: left;
}

/* html{
     background-color: white;
    } */
    
.indent50{
    text-indent: 50px;
}

/* .pad{
    padding: 10px 10px;
} */

.h3_font_size{
    font-size: 15px;
}

.indent30{
    text-indent: 30px;
}

.button {
    background-color: #FFF200;
    border: none;
    color: black;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 1px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
}

.font{
    font-family: 'Tajawal', sans-serif; 
    font-weight: bold;
}


