body{
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-Register{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

.regis-Form{
    font-size: 18px;
    /* color: red; */
}