body{
    margin: 50px 25%;
    background-color: white;
}

.font{
    text-align: left;
}

html{
     background-color: black
    }
    
.indent{
    text-indent: 50px;
}

.pad{
    padding: 10px 10px;
}
