body{
    margin: 50px 25%;
    background-color: white;
}

.font{
    text-align: left;
}

html{
     background-color: black
    }
    
.indent50{
    text-indent: 50px;
}

.pad{
    padding: 10px 10px;
}

.h3_font_size{
    font-size: 13px;
}

.indent30{
    text-indent: 30px;
}

.button {
    background-color: #FFF200;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    float: right;
}




